#import <Flutter/Flutter.h>

@interface {{pluginClass}} : NSObject<FlutterPlugin>


- (void)getAppVersion:(id)params callback:(FlutterResult)callback;

+ (void)getPlatformVersion:(id)params callback:(FlutterResult)callback;


@end
