import 'dart:async';

import 'package:flutter/services.dart';

class {{pluginDartClass}} {
  static const MethodChannel _channel =
      const MethodChannel('{{projectName}}');

  ///
  static Future<String> getPlatformVersion() async {
    Map map = {"a": "aaa", "b": "bbb"};
    String value = await _channel.invokeMethod('getPlatformVersion', map);
    return value;
  }

  ///
  static Future<String> getAppVersion() async {
    String value = await _channel.invokeMethod('getAppVersion');
    return value;
  }
  
}
